<div class="row">
    <div class="pane col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

        <div ng-include="'/app/user/register/three-steps.tpl.html'"></div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">

                <div class="form-group" ng-class="{'has-error': registration.firstName.$invalid && registration.submitted, 'has-success': registration.firstName.$valid, 'has-feedback': registration.firstName.$valid || (registration.submitted && registration.firstName.$error)}">
                    <input type="text" placeholder="{{ 'FIRST NAME' | translate }}" class="form-control" ng-model="user.firstName" name="firstName" ng-minlength="2" required>
                    <span class="form-control-feedback" ng-show="registration.firstName.$valid || (registration.submitted && registration.firstName.$error)" ng-class="{'icon icon-tick': registration.firstName.$valid, 'icon icon-close': registration.firstName.$invalid && registration.submitted}"></span>

                    <div class="popover right" ng-class="{'show': registration.submitted && registration.firstName.$invalid}">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <p ng-show="registration.firstName.$error.required" translate>This field is required</p>
                            <p ng-show="registration.firstName.$error.minlength" translate>This field requires at least 2 characters</p>
                        </div>
                    </div>

                </div>
                <div class="form-group" ng-class="{'has-error': registration.lastName.$invalid && registration.submitted, 'has-success': registration.lastName.$valid, 'has-feedback': registration.lastName.$valid || (registration.submitted && registration.lastName.$error)}">
                    <input type="text" placeholder="{{ 'LAST NAME' | translate }}" class="form-control" ng-model="user.lastName" name="lastName" ng-minlength="2" required>
                    <span class="form-control-feedback" ng-show="registration.lastName.$valid || (registration.submitted && registration.lastName.$error)" ng-class="{'icon icon-tick': registration.lastName.$valid, 'icon icon-close': registration.lastName.$invalid && registration.submitted}"></span>

                    <div class="popover right" ng-class="{'show': registration.submitted && registration.lastName.$invalid}">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <p ng-show="registration.lastName.$error.required" translate>This field is required</p>
                            <p ng-show="registration.lastName.$error.minlength" translate>This field requires at least 2 characters</p>
                        </div>
                    </div>

                </div>

                <div class="form-group" ng-class="{'has-error': registration.emailAddress.$invalid && registration.submitted, 'has-success': registration.emailAddress.$valid, 'has-feedback': registration.emailAddress.$valid || (registration.submitted && registration.emailAddress.$error)}">
                    <input type="email" placeholder="{{ 'EMAIL' | translate }}" class="form-control" ng-model="user.emailAddress" name="emailAddress" ensure-unique="emailAddress" required>
                    <span class="form-control-feedback" ng-show="registration.emailAddress.$valid || (registration.submitted && registration.emailAddress.$error)" ng-class="{'icon icon-tick': registration.emailAddress.$valid, 'icon icon-close': registration.emailAddress.$invalid && registration.submitted, 'icon icon-refresh loading': false}"></span>

                    <div class="popover right" ng-class="{'show': registration.submitted && registration.emailAddress.$invalid}">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <p ng-show="registration.emailAddress.$error.required" translate>This field is required</p>
                            <p ng-show="registration.emailAddress.$error.email" translate>Email is in the wrong format</p>
                            <p ng-show="registration.emailAddress.$error.unique && !registration.emailAddress.$error.required && !registration.emailAddress.$error.email" translate>This email is already in our system</p>
                        </div>
                    </div>

                </div>

                <div class="form-group text-center">
                    <button ng-click="forward(registration, user)" class="btn btn-contrast" translate>Continue</button>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">

                    <div class="checkbox">
                        <label for="marketing">
                            <input type="checkbox" ng-model="user.receivePromotion" ng-true-value="UNSUBSCRIBED" ng-false-value="SUBSCRIBED"> <span translate>I do not want information about free spins and bonuses.</span>
                        </label>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>