<div id="emptyWallet" class="modal emptyWalletModal" tabindex="-1" role="dialog" ng-controller="EmptyWalletCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()" aria-hidden="true">&times;</button>
                <h4 translate>Oops! Your wallet is empty</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <a href="#/deposit" ng-click="$hide()" class="btn btn-contrast btn-sm" translate>Deposit now to play</a>
                </div>
            </div>
        </div>
    </div>
</div>
