<div id="cashier">
    <div class="container-bg bg-{{randomBg}}">
        <div class="container">

            <div class="row">
                <div class="col-md-12" ng-include="'/app/payment/navbar-pills.tpl.html'"></div>
            </div>

            <div class="row equal-height">

                <div class="col-md-9">
                    <div class="pane">

                        <h5 class="pane-heading" translate>Deposits/Withdrawals History</h5>

                        <div class="form-group">
                            <button class="btn btn-sm btn-shadow" ng-click="filterBack(2*365)" translate>All</button>
                            <button class="btn btn-sm btn-shadow" ng-click="filterBack(1)" translate>Last 24 Hours</button>
                            <button class="btn btn-sm btn-shadow" ng-click="filterBack(30)" translate>Last Month</button>
                        </div>

                        <table ng-table="transactionHistory" class="table table-inverse">
                            <tr ng-repeat="transaction in $data">
                                <td data-title="'Date' | translate" sortable="date">{{transaction.date | amCalendar}}</td>
                                <td data-title="'Type' | translate" sortable="type">{{transaction.type}}</td>
                                <td data-title="'Amount' | translate" sortable="amount">{{transaction.amount | currency:'€'}}</td>
                                <td data-title="'Method' | translate" sortable="paymentMethod">{{transaction.paymentMethod}}</td>
                                <td data-title="'Status' | translate" sortable="status">{{transaction.status}}</td>
                            </tr>
                            <tr ng-if="!$data.length">
                                <td colspan="5" translate>No results found</td>
                            </tr>
                        </table>

                    </div>
                </div>

                <div ng-include="'/app/payment/account-box.tpl.html'"></div>

            </div>

        </div>
    </div>
</div>
