<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-6">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="ccNumber" class="col-sm-4 control-label">Kortnummer</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="ccNumber" placeholder="" autocomplete="off" ng-model="depositParameters.card.creditCardNumber">
                </div>
            </div>

            <div class="form-group">
                <label for="ccName" class="col-sm-4 control-label">Kortinnehavare</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="ccName" placeholder="" autocomplete="off" ng-model="depositParameters.card.cardHolder">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Kortet går ut</label>
                <div class="col-sm-7">
                    <select class="form-control fluid-width pull-left" size="1" ng-model="depositParameters.card.expiryMonth">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                    <span class="pull-left margin-left-10 margin-top-7">/</span>

                    <select class="form-control fluid-width pull-left margin-left-10" size="1" ng-model="depositParameters.card.expiryYear">
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                    <option value="2032">2032</option>
                    <option value="2033">2033</option>
                    <option value="2034">2034</option>
                    <option value="2035">2035</option>
                    <option value="2036">2036</option>
                    <option value="2037">2037</option>
                    <option value="2038">2038</option>
                </select>
                </div>
            </div>

            <div class="form-group">
                <label for="cvcNumber" class="col-sm-4 control-label">CVC/CVV/CID</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="cvcNumber" placeholder="" autocomplete="off" ng-model="depositParameters.card.CVV">
                </div>
                <a href="#" class="margin-top-10 inline-block" onclick="return toggleElement( 'card.cvcFrame' );">
                    <span>Vad är ditt CVC?</span>
                </a>
            </div>

            <div class="form-group">
            <input class="pay-submit-credit-card" type="submit" name="pay" value="Betala" ng-click="SubmitCC()">
            </div>

        </form>
    </div>
</div>
