<div class="row">
    <div class="col-xs-12 col-sm-6">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="accountId" class="col-sm-5 control-label">Account ID or email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="accountId" placeholder="" autocomplete="off" ng-model="depositParameters.neteller.account">
                </div>
            </div>

            <div class="form-group">
                <label for="secureId" class="col-sm-5 control-label">Secure ID</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="secureId" placeholder="" autocomplete="off" ng-model="depositParameters.neteller.secureId">
                </div>
            </div>
            <div class="form-group">
                <input class="pay-submit-credit-card" type="submit" name="pay" value="Betala" ng-click="SubmitNeteller()">
            </div>
        </form>
    </div>
</div>