<div id="loginSignup" class="modal" tabindex="-1" role="dialog" ng-controller="LoginCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
                <h4 translate>Login or Register to play</h4>
            </div>
            <div class="modal-body">

                <ng-switch on="view">

                    <div ng-switch-when="login" class="row">

                        <div class="col-sm-6">

                            <h5 translate>Login</h5>

                            <form name="loginForm" novalidate role="form" autocomplete="off">

                                <div class="form-group has-feedback" ng-class="{'has-error': loginForm.submitted && loginForm.emailAddress.$invalid}">
                                    <input type="email" class="form-control" placeholder="{{'EMAIL' | translate}}" name="emailAddress" ng-model="emailAddress" focus-me="modalLoaded" autocomplete="off" required>
                                    <i class="form-control-feedback icon icon-user"></i>

                                    <div class="popover-container" ng-show="loginForm.submitted == true && loginForm.emailAddress.$error.required">
                                        <div class="popover bottom">
                                            <div class="arrow"></div>
                                            <div class="popover-content" translate>The field is required</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group has-feedback" ng-class="{'has-error': loginForm.submitted && loginForm.password.$invalid}">
                                    <input type="password" class="form-control" placeholder="{{'PASSWORD' | translate}}" name="password" ng-model="password" autocomplete="off" required>
                                    <i class="form-control-feedback icon icon-lock"></i>

                                    <div class="popover-container" ng-show="loginForm.submitted == true && loginForm.password.$error.required">
                                        <div class="popover bottom">
                                            <div class="arrow"></div>
                                            <div class="popover-content" translate>The field is required</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="pull-left side-links">
                                    <div class="inner">
                                        <a ng-click="showForgotPassword()" translate>Lost your Password?</a>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-primary" ng-class="{disabled: thinking}" ng-click="login(loginForm, emailAddress, password)">{{(thinking && 'Checking...' | translate) || ('Login' | translate)}}</button>
                                </div>
                                <div class="clearfix"></div>

                            </form>
                        </div>

                        <div class="col-sm-6">

                            <h5 translate>Create new account</h5>

                            <form name="createAccountForm" novalidate role="form" autocomplete="off">
                                <div class="form-group has-feedback">
                                    <input type="text" ng-model="user.firstName" class="form-control" placeholder="{{'FIRST NAME' | translate}}">
                                    <i class="form-control-feedback icon icon-user"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="email" ng-model="user.emailAddress" class="form-control" placeholder="{{'EMAIL' | translate}}">
                                    <i class="form-control-feedback icon icon-email"></i>
                                </div>

                                <div class="pull-right">
                                    <a href="#/register" ng-click="close()" class="btn btn-contrast" translate>Signup</a>
                                </div>
                                <div class="clearfix"></div>

                            </form>
                        </div>

                    </div>

                    <form name="forgotPasswordForm" ng-switch-when="forgot-password" novalidate role="form">
                        
                        <p>
                            <b translate>Forgot your username or password?</b>
                            <br>
                            {{"Don't worry! Please provide your e-mail address and we'll send you further instructions!" | translate}}
                        </p>
                    
                        <div class="form-group has-feedback">
                            <label class="sr-only" for="fpEmailAddress" translate>Email address</label>
                            <input type="email" class="form-control" ng-model="emailAddress" id="fpEmailAddress" placeholder="{{'Your e-mail address' | translate}}" required>
                            <i class="form-control-feedback icon icon-email"></i>
                        </div>
                
                        <div class="pull-left side-links">
                            <div class="inner">
                                <a ng-click="openSupport()" translate>Contact Customer Support</a>
                                <a ng-click="showLogin()" translate>Try to login again</a>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-disabled="thinking" ng-click="forgotPassword(forgotPasswordForm, emailAddress)">{{(thinking && 'Checking...' | translate) || ('Send' | translate)}}</button>
                        </div>
                        <div class="clearfix"></div>

                    </form>


                </ng-switch>

            </div>
        </div>
    </div>
</div>