<div id="reset-password">
    <div class="container-bg bg-{{randomBg}}">
        <div class="container">
            <div class="row">
                <div class="pane col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

                    <h2 translate>Reset your password</h2>

                    <p translate>Enter your password below to reset your password</p>

                    <br>

                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-6">
                            <form novalidate role="form" name="resetPasswordForm">
                                <input type="hidden" ng-model="request.uuid">

                                <div class="form-group"
                                     ng-class="{'has-error': resetPasswordForm.password.$invalid && resetPasswordForm.password.$dirty, 'has-success': resetPasswordForm.password.$valid, 'has-feedback': resetPasswordForm.password.$valid || (resetPasswordForm.password.$dirty && resetPasswordForm.password.$error)}">
                                    <input type="password" placeholder="{{ 'ENTER YOUR NEW PASSWORD' | translate }}" class="form-control" ng-model="request.password"
                                           name="password" ng-pattern="/(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{8,40}/" autocomplete="off" required>
                                    <span class="form-control-feedback"
                                          ng-show="resetPasswordForm.password.$valid || (resetPasswordForm.password.$dirty && resetPasswordForm.password.$error)"
                                          ng-class="{'icon icon-tick': resetPasswordForm.password.$valid, 'icon icon-close': resetPasswordForm.password.$invalid && resetPasswordForm.password.$dirty, 'icon icon-refresh loading': false}"></span>

                                    <div class="popover right" ng-class="{'show': resetPasswordForm.password.$dirty && resetPasswordForm.password.$invalid}">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <p ng-show="resetPasswordForm.password.$error.required" translate>This field is required</p>

                                            <p ng-show="resetPasswordForm.password.$error.pattern" translate>Your password must be at least 8 characters in length and
                                                contain at least 1 lowercase character, 1 capital letter and 1 number.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.confirmPassword.$dirty, 'has-success': resetPasswordForm.confirmPassword.$valid, 'has-feedback': resetPasswordForm.confirmPassword.$valid || (resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$error)}">
                                    <input type="password" placeholder="{{ 'CONFIRM YOUR PASSWORD' | translate }}" class="form-control" ng-model="request.confirmPassword"
                                           name="confirmPassword" equals="{{request.password}}" autocomplete="off" required>
                                    <span class="form-control-feedback"
                                          ng-show="resetPasswordForm.confirmPassword.$valid || (resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$error)"
                                          ng-class="{'icon icon-tick': resetPasswordForm.confirmPassword.$valid, 'icon icon-close': resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.confirmPassword.$dirty, 'icon icon-refresh loading': false}"></span>

                                    <div class="popover right"
                                         ng-class="{'show': resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$invalid}">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <p ng-show="resetPasswordForm.confirmPassword.$error.required" translate>This field is required</p>

                                            <p ng-show="resetPasswordForm.confirmPassword.$error.equals && !resetPasswordForm.confirmPassword.$error.required" translate>
                                                Password must be valid and must match</p>
                                        </div>
                                    </div>

                                </div>

                                <button class="btn btn-primary" ng-click="resetPassword(resetPasswordForm)" ng-disabled="ui.loading" translate>Reset Password</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
